body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243, 215, 231);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin:0 auto;
  width: 75%;
 
}

.curHeader{
  font-size: 15px;
  color:brown;
}

.header{
  color: rgb(110, 2, 87);
}

.num{
  font-size: 25px;
}

.error{
  font-size: 35px;
  margin-top: 250px;
  font-weight: bold;
}

.errors-message{
  color: red;
  margin-top: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
  max-width: 150px;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(64, 7, 221);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.inputs{
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.inputs:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}
.names{
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 14px;
line-height: 1.5;
color: #24292e;
}